[user]
	name = Peter Sun
	email = pengrui.sun@outlook.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	autocrlf = input
[pull]
	rebase = false
